:root {
  --primary-color: #bd1616;
  /* --primary-color: #0f9d58; */
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
html,
body {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background-color);
}
.fullheight {
  height: 100vh;
}
.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img-fixed {
  background-attachment: fixed;
}
.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
section {
  padding: 9rem 0;
}
.slogan {
  text-align: left;
}
.slogan h1 {
  font-size: 7rem;
  color: var(--primary-color);
}
.slogan button {
  outline: none;
  padding: 1rem 5rem;
  border: 0.125rem solid var(--primary-color);
  border-radius: 2rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  margin: 3rem 0;
  font-weight: 600;
}
.slogan button:hover {
  color: var(--white);
  background-color: var(--primary-color);
  transition: 0.5s ease-in-out;
}
.fullwidth {
  width: 100%;
}
#about img {
  border-radius: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.about-slogan {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateX(-10rem);
  text-align: left;
}
.about-slogan h3 {
  font-size: 2rem;
  color: var(--grey);
  margin-bottom: 3rem;
}
.food-menu {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.food-menu h1 {
  color: var(--grey);
}
.food-menu p {
  margin: 2rem 0;
}
.food-category {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}
.food-category button {
  margin: 1rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.food-category button:hover,
.food-category button.active {
  color: var(--white);
  background-color: var(--primary-color);
}
.food-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3rem;
}
.food-item {
  height: 30rem;
  width: 25%;
  padding: 1rem;
}
.item-wrap {
  height: 100%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 2rem;
}
.item-wrap:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.item-img {
  height: 60%;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
}
.image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 2rem;
}
.image-holder:hover {
  transform: scale(2) rotate(45deg);
}
.item-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
  padding: 0 1rem;
}
.item-info h3 {
  color: var(--grey);
}
.item-info > div:first-child {
  text-align: left;
}
.review-wrap {
  padding: 1rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.review-wrap.active {
  transform: scale(1.2) !important;
}
.review-content {
  border-bottom: 0.125rem solid var(--grey);
  position: relative;
  padding: 3rem;
  text-align: center;
}
.review-img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -2.5rem;
}
.review-info {
  padding: 3rem;
  text-align: center;
}
.rating {
  margin-top: 2rem;
}
.rating i {
  color: gold;
}
.footer {
  color: var(--white);
}
.footer h1 {
  color: var(--primary-color);
}
.input-group {
  border: 0.125rem solid var(--primary-color);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.input-group input {
  background-color: transparent;
  flex: auto;
  outline: none;
  border: none;
  color: var(--primary-color);
}
.input-group button {
  font-weight: 600;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}
.back-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 99;
  display: none;
}
[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 930px) {
  .slogan h1 {
    font-size: 5rem;
  }
  .about {
    background-image: url("./assets/about.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  .about-slogan {
    transform: none;
  }
  .col-xs-1 {
    width: 8.33%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-5 {
    width: 41.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-11 {
    width: 91.66%;
  }

  .col-xs-12 {
    width: 100%;
  }
  .h-xs {
    display: none;
  }
  .review-wrap.active {
    transform: scale(1) !important;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 930px) {
  .food-item {
    width: 33.33%;
  }
}
@media only screen and (max-width: 930px) and (min-width: 600px) {
  .food-item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .food-item {
    width: 100%;
  }
}
