.login-card {
  background: #ffffff;
  /* Orange1 */
  padding: 0.5em;
  border: 2px solid #ff6433;
  border-radius: 10px;
}

.login-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25pt;
  line-height: 32px;
  color: #ff6433;
}

.login-form-btn {
  margin-top: 5%;
  width: 95%;
  background: #ff6433;
  /* Orange1 */
  color: #fff;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 999px;
}

.login-form-btn:hover {
  background: #fff;
  color: #ff6433;
}

.login-btn {
  background: #ffffff;
  /* Orange1 */
  color: #ff6433;
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 999px;
  width: auto;
  color: #ff6433;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

.signup-btn {
  background: #ff6433;
  /* Orange1 */
  color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 999px;
  width: auto;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

/* The switch - the box around the slider */
.input-group-text {
  border: 1px solid #ff6433;
  border-radius: 10px;
  color: #ff6433;
  background-color: #fff;
}

.chef-switch {
  border: 2px solid #ff6433;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-field-headings {
  font-weight: bold;
  padding-left: 5px;
  font-size: 10pt;
  line-height: 32px;
  width: fit-content;
}

.login-fields {
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

input:checked + .slider {
  background-color: #ff6433;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
