:root {
  --primary-color: #bd1616;
  /* --primary-color: #0f9d58; */
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
html,
body {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background-color);
}
.my-fullheight {
  height: 100vh;
}
.my-align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.my-bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-bg-img-fixed {
  background-attachment: fixed;
}
.my-container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
.my-row {
  display: flex;
  flex-wrap: wrap;
}
section {
  padding: 9rem 0;
}
.my-slogan {
  text-align: left;
}
.my-slogan h1 {
  font-size: 7rem;
  color: var(--primary-color);
}
.my-slogan button {
  outline: none;
  padding: 1rem 5rem;
  border: 0.125rem solid var(--primary-color);
  border-radius: 2rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  margin: 3rem 0;
  font-weight: 600;
}
.my-slogan button:hover {
  color: var(--white);
  background-color: var(--primary-color);
  transition: 0.5s ease-in-out;
}
.my-fullwidth {
  width: 100%;
}
#about img {
  border-radius: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.my-about-slogan {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateX(-10rem);
  text-align: left;
}
.my-about-slogan h3 {
  font-size: 2rem;
  color: var(--grey);
  margin-bottom: 3rem;
}
.cart-btn {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.cart-btn:hover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
}
.my-food-menu {
  padding: 4rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.my-food-menu h1 {
  color: var(--grey);
}
.my-food-menu p {
  margin: 2rem 0;
}
.my-food-category {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}
.my-food-category button {
  margin: 1rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.my-food-category button:hover,
.my-food-category button.active {
  color: var(--white);
  background-color: var(--primary-color);
}
.my-food-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3rem;
}
.my-food-item {
  height: 30rem;
  width: 25%;
  padding: 1rem;
}
.my-item-wrap {
  height: 100%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 2rem;
}
.my-item-wrap:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.my-item-img {
  height: 60%;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
}
.my-image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 2rem;
}
.my-image-holder:hover {
  transform: scale(2) rotate(45deg);
}
.my-item-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
  padding: 0 1rem;
}
.my-item-info h3 {
  color: var(--grey);
}
.my-item-info > div:first-child {
  text-align: left;
}
.my-review-wrap {
  padding: 1rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.my-review-wrap.active {
  transform: scale(1.2) !important;
}
.my-review-content {
  border-bottom: 0.125rem solid var(--grey);
  position: relative;
  padding: 3rem;
  text-align: center;
}
.my-review-img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -2.5rem;
}
.my-review-info {
  padding: 3rem;
  text-align: center;
}
.my-rating {
  margin-top: 2rem;
}
.my-rating i {
  color: gold;
}
.my-footer {
  color: var(--white);
}
.my-footer h1 {
  color: var(--primary-color);
}
.my-input-group {
  border: 0.125rem solid var(--primary-color);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.my-input-group input {
  background-color: transparent;
  flex: auto;
  outline: none;
  border: none;
  color: var(--primary-color);
}
.my-input-group button {
  font-weight: 600;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}
.my-back-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 99;
  display: none;
}
.my-back-to-top:hover {
  color: var(--white);
}
[class*="col-"] {
  padding: 1rem;
}

.my-col-1 {
  width: 8.33%;
}

.my-col-2 {
  width: 16.66%;
}

.my-col-3 {
  width: 25%;
}

.my-col-4 {
  width: 33.33%;
}

.my-col-5 {
  width: 41.66%;
}

.my-col-6 {
  width: 50%;
}

.my-col-7 {
  width: 58.33%;
}

.my-col-8 {
  width: 66.66%;
}

.my-col-9 {
  width: 75%;
}

.my-col-10 {
  width: 83.33%;
}

.my-col-11 {
  width: 91.66%;
}

.my-col-12 {
  width: 100%;
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 930px) {
  .my-slogan h1 {
    font-size: 5rem;
  }
  .my-about {
    background-image: url("./assets/about.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  .my-about-slogan {
    transform: none;
  }
  .my-col-xs-1 {
    width: 8.33%;
  }

  .my-col-xs-2 {
    width: 16.66%;
  }

  .my-col-xs-3 {
    width: 25%;
  }

  .my-col-xs-4 {
    width: 33.33%;
  }

  .my-col-xs-5 {
    width: 41.66%;
  }

  .my-col-xs-6 {
    width: 50%;
  }

  .my-col-xs-7 {
    width: 58.33%;
  }

  .my-col-xs-8 {
    width: 66.66%;
  }

  .my-col-xs-9 {
    width: 75%;
  }

  .my-col-xs-10 {
    width: 83.33%;
  }

  .my-col-xs-11 {
    width: 91.66%;
  }

  .my-col-xs-12 {
    width: 100%;
  }
  .my-h-xs {
    display: none;
  }
  .my-review-wrap.active {
    transform: scale(1) !important;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 930px) {
  .my-food-item {
    width: 33.33%;
  }
}
@media only screen and (max-width: 930px) and (min-width: 600px) {
  .my-food-item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .my-food-item {
    width: 100%;
  }
}
